@import url('https://fonts.googleapis.com/css2?family=Sono:wght,MONO@200..800,1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 240, 240);
    padding: 100px;
    color: rgb(0, 78, 145);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 250px;
    font-family: "Sono", monospace;
}

.upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.upper-section h1{
    text-decoration: underline;
    font-weight: 900;
}

.lower-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 250px;
    font-size: 1.5em;
}

#btn-startQuiz {
    background-color: rgb(6, 111, 202);
    color: white;
    padding: 20px 50px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 7px rgb(3, 37, 85);
    font-family: "Sono", monospace;
    font-size: 0.7em;
    font-weight: 900;
    transition: 0.3s ease-in-out;
}

#btn-startQuiz:hover {
    background-color: rgb(7, 126, 231);
}

#btn-startQuiz:active {
    background-color: rgb(255, 255, 255);
    color: black;
}

#btn-darkmode{
    padding: 10px 30px;
    background-color: rgb(43, 43, 43);
    color: white;
    border: none;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

#btn-darkmode:hover{
    background-color: rgb(186, 206, 206);
    color: black
}

#btn-darkmode:active {
    background-color: rgb(255, 255, 255);
    color: black;
}